.polygon-wrapper {
    position: relative;
    width: 260px;
    height: 260px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.polygon-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}
.polygon {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #fff;
    background: #2196f3;
    user-select: none;
    transition: 0.2s;
    position: relative;
}
.polygon:active {
    background: #1976d2;
}








